.venv
.vimrc
.vimrc-python3
*.pyc
__pycache__
.idea
input
.coverage
htmlcov
alembic.ini
.cache
.pylintrc
.ropeproject
axis
export
output
config/local_config.yml
*.lprof
logs
catalog/*.cat
.s3cfg
.phases_dir
.from_archives
alembic.test.ini
deploy_programs
catalog/aws_s3_aei_files.txt
dump.rdb
.docker_env
.s3files
.python-version
alembic.remote_test.ini
.test_env

# special
.git
.gitignore
.gitmodules
.travis.yml
githooks
Dockerfile
docker-compose.yml

# mercury
mercury/*.dmp
mercury/*.tmp
mercury/*.in
mercury/*.out
mercury/*.clo
mercury/*.aei
mercury/*.gnu
mercury/element6
mercury/mercury6
mercury/close6

# helpers
entrypoint.sh
